h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Indie Flower', cursive; ;
}

@font-face{
    font-family: "secular one";
    src: url('SecularOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}


h2{
    font-size: 100px;
    text-align: center;
    font-family: "secular one";
}